<div class="showProduct">
  <div class="main-box-productShow">
    <section class="top-section-productShow">
      <div class="z1-top-productShow">También puede interesarteel diario de
        greg-napoleon hill-joe dispenza-las ratitas-distancia de rescate-al
        final mueren los dos</div>
      <div class="z2-top-productShow">
        <a href="">Volver </a>|
        <a href="">Libros, Revistas y Comics</a><a href="">Libros Físicos</a>

      </div>
      <div class="z3-top-productShow">
        <a href="">Compartir</a>
        <a href="">Vender uno igual</a>
      </div>
    </section>
    <section class="mid-section-productShow">
      <div class="z1-mid-productShow">
        <img
          src="https://dummyimage.com/44x44/000/fff.jpg"
          alt="imgane de muestra 1 de 4"
        />
        <img
          src="https://dummyimage.com/44x44/000/fff.jpg"
          alt="imgane de muestra 2 de 4"
        />
        <img
          src="https://dummyimage.com/44x44/000/fff.jpg"
          alt="imgane de muestra 3 de 4"
        />
        <img
          src="https://dummyimage.com/44x44/000/fff.jpg"
          alt="imgane de muestra 4 de 4"
        />
      </div>
      <div class="z2-mid-productShow"><img
          src="{{product.thumbnail}}"
          alt="{{product.thumbnail}}"
        /></div>
      <div class="z3-mid-productShow">
        <h2>{{product.title}}</h2>
        <span>{{product.price}}</span>
      </div>
      <div class="z4-mid-productShow">
        <form
          id="showProduct-form"
          action="/products/{{product._id}}"
          method="post"
        >
          <input
            type="text"
            value="{{product._id}}"
            hidden="true"
            name="productID"
          />
          <button
            class="btn-blue-main"
            type="submit"
            name="action"
            value="comprar"
          >comprar</button>
          <button
            class="btn-blue-main"
            type="submit"
            name="action"
            value="carrito"
          >Agregar al carrito</button>

        </form>
      </div>
    </section>
  </div>
</div>

<script src="/static/js/productShow.js"></script>