{{#if usercookie}}
  <div class="bienvenido-area">
    <h1>Bienvenido {{usercookie}}!!</h1>
    <form action="/home" method="post">
      <button id="logout-button" type="submit">Logout</button>
    </form>
  </div>
{{/if}}
<div class="cart-container">
  {{#each products}}
    <a href="/products/{{this._id}}" class="link-product-home">
      <div class="cart">
        <img src={{{this.thumbnail}}} alt="#" />
        <div class="cart-info-area">
          <p>${{this.price}}</p>
          <h1>{{this.title}}</h1></div>
      </div>
    </a>
  {{/each}}
</div>

<script src="/static/js/home.js"></script>