<div>
  <section class="user-section">
    {{#each users}}
      <a href="/session/admin/userEdit/{{this._id}}">
        <div class="user-box">
          <h1>{{this.username}}</h1>
          <span>{{this.email}}</span>
        </div>
      </a>

    {{/each}}
  </section>
  <hr />
  <div class="button-section">
    {{#unless hasPrevPage}}
      <a
        href="/session/admin/users?page={{prevPage}}"
        class="btn {{disabled}}"
      >-</a>
    {{else}}
      <a href="/session/admin/users?page={{prevPage}}" class="btn">-</a>
    {{/unless}}

    <span>Pagina {{page}} de 4 </span>

    {{#unless hasNextPage}}
      <a
        href="/session/admin/users?page={{nextPage}}"
        class="btn {{disabled}}"
      >+</a>
    {{else}}
      <a href="/session/admin/users?page={{nextPage}}" class="btn">+</a>
    {{/unless}}
  </div>
  <hr />
</div>
<script src="/static/js/main.js"></script>