<div>
  <section class="user-section">
    {{#each users}}
      <div class="user-box">
        <h1>{{this.username}}</h1>
        <span>{{this.email}}</span>
      </div>
    {{/each}}
  </section>
  <hr />
  <div class="button-section">
    {{#unless hasPrevPage}}
      <a
        href="/handleUser/paginate?page={{prevPage}}"
        class="btn {{disabled}}"
      >-</a>
    {{else}}
      <a href="/handleUser/paginate?page={{prevPage}}" class="btn">-</a>
    {{/unless}}

    <span>Pagina {{page}} de 4 </span>

    {{#unless hasNextPage}}
      <a
        href="/handleUser/paginate?page={{nextPage}}"
        class="btn {{disabled}}"
      >+</a>
    {{else}}
      <a href="/handleUser/paginate?page={{nextPage}}" class="btn">+</a>
    {{/unless}}
  </div>
  <hr />
</div>