<section class="section-showMyProducts">
  <div id="filters-section">
    <div>
      <h2>Filtros</h2>
    </div>
  </div>
  <div id="products-section">
    <h2>Cantidad de productos en venta ({{data.length}})</h2>
    <div class="products-section-z1">
      {{#each data}}
        <div class="section-showymyproduct">
          <div class="z-right-showmyproduct">
            <div class="z-right-top-showmyproduct">{{this.estado}}</div>
            <div class="z-right-botton-showmyproduct"><a
                href="/publicar/editmyproducts/{{this._id}}"
              >Editar</a></div>
          </div>
          <div class="z-left-showmyproduct">
            <p>{{this.title}}</p>
            <img src="{{this.thumbnail}}" alt="{{this.title}}" />
          </div>
        </div>

      {{/each}}
    </div>
  </div>
</section>

<script>
  let updateMessage = '{{updateMessage}}'
</script>

<script src="/static/js/showMyProducts.js"></script>