<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/css/{{style}}" />
    <link rel="stylesheet" href="/static/css/navBar.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <script
      src="https://kit.fontawesome.com/91d81ca14f.js"
      crossorigin="anonymous"
    ></script>
    <title>{{{title}}}</title>
  </head>
  <body>
    <div class="my-Nav-Container">
      <nav class="my-nav">
        <a href="/home"> <div class="Nav-Logo"></div></a>

        <div class="Nav-Search">
          <SearchForm />
        </div>
        <div class="Nav-Promo">
          <img
            class="Nav-Promo-img"
            src="https://http2.mlstatic.com/D_NQ_773701-MLA54334638216_032023-OO.webp"
            alt=""
          />
        </div>
        <div class="Nav-Location">
          {{#if usercookie}}
            <a href="#">
              <i class="fa-solid fa-location-dot"></i>
              Enviar a
              {{usercookie.username}}
              <br />
              {{usercookie.address}}
            </a>
          {{else}}
            <a href="#">
              <i class="fa-regular fa-bell"></i>
              Enviar a
              <br />
              Capital Federal
            </a>
          {{/if}}

        </div>
        <div class="Nav-Bar">
          <ul class="my-ul">
            <li class="dropdown">
              <a onclick="myFunction()" class="dropbtn">
                Categoria
              </a>
              <div id="myDropdown" class="dropdown-content">
                <a href="#">Tecnologia</a>
                <a href="#">Ropa</a>
              </div>
            </li>
            <li>
              <a href="#">Ofertas</a>
            </li>
            <li>
              <a href="#">Historial</a>
            </li>
            <li>
              <a href="#">Supermercado</a>
            </li>
            <li>
              <a href="#">Vender</a>
            </li>
            <li>
              <a href="#">Ayuda</a>
            </li>
          </ul>
        </div>
        <div class="Nav-Sesion">
          <ul class="my-ul">
            {{#if usercookie}}
              <li class="dropdown">
                <a onclick="myFunction()" class="dropbtn">
                  <i class="fa-regular fa-user"></i>
                  {{usercookie.username}}</a>
                <div id="myDropdown" class="dropdown-content">
                  <a href="#">Opción 1</a>
                  <a href="#">Opción 2</a>
                  <form id="dropdownForm" action="/home" method="post">
                    <button type="submit" class="mydropbtn">Cerrar sesion</button>
                  </form>
                </div>
              </li>
              <li>
                <a href="/views/misCompras">Mis Compras</a>
              </li>
              <li>
                <a href="/session/register">Favoritos</a>
              </li>
              <li>
                <a href="#"><i class="fa-solid fa-bell"></i></a>
              </li>
              <li>
                <a href="/api/carts"><i
                    class="fa-solid fa-cart-shopping"
                  ></i></a>
              </li>
            {{else}}
              <li>
                <a href="/session/register">Creá tu cuenta</a>
              </li>
              <li>
                <a href="/session/login">Ingresá</a>
              </li>
              <li>
                <a href="/views/misCompras">Mis Compras</a>
              </li>
              <li>
                <a href="/api/carts">
                  <i class="fa-solid fa-cart-shopping"></i>
                </a>
              </li>
            {{/if}}

          </ul>
          <a href="#">
            <FontAwesomeIcon class="locationIcon" icon="{faCartShopping}" />
          </a>
        </div>
      </nav>
    </div>
    {{{body}}}
    <footer>
      <section>
        <div class="footer-link-section">
          <a href="#">Trabaja con nosotros</a>
          <a href="#">Términos y condiciones</a>
          <a href="#">Cómo cuidamos tu privacidad</a>
          <a href="#">Accesibilidad</a>
          <a href="#">Información al usuario financiero</a>
          <a href="#">Ayuda</a>
          <a href="#">Defensa del Consumidor</a>
          <a href="#">Información sobre seguros</a>
        </div>
        <div class="footer-copyright-section">
          <span>Copyright © 1999-2023 MercadoLibre S.R.L.
          </span>
          <br />
          <span>Av. Caseros 3039, Piso 2, CP 1264, Parque Patricios, CABA</span>
        </div>
      </section>
    </footer>
  </body>
  <link
    href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css"
    rel="stylesheet"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>

  <script src="/static/js/main.js"></script>

</html>